// Place all the styles related to the sections controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#app {
  margin: 1em 4em 1em 4em;
}

#children {
  border-top: 2px solid black;
  border-radius: 3px;
  padding: 1em;
}

#app-toolbar {
  padding: 2px;
  display: flex;
  align-items: center;
}

#tempo-slider {
  flex: 1;
  text-align: right;
  width: 75%;

}

#app-views {
  border: 3px solid black;
  border-radius: 5px;
  padding: 0.5em;
}

#switch-1-icon {
  font-size: 50px;
}

.mdc-toolbar__title {
  font-family: garamond, serif;
}

label {
  display: inline-block;
  text-align: right;
}​

button {
  padding: 0px;
  margin: 0px;
}

.delete-section-button {
  margin-left: 3px;
  font-size: 18px;
  display: inline;
  background-color: pink;
  border-radius: 8px;
}

.add-rhythm-button {
  margin-left: 3px;
  font-size: 18px;
  display: inline;
  background-color: pink;
  border-radius: 8px;
}

.selected {
  border: 2px solid black;
}

.section-container {
  border: none;
}

.rhythm-table {
  width: 80%;
  display: table;
}

#rhythm-form {
  width: 70px;
  display: inline-flex;
}

.rhythm-row {
  width: 80%;
  display: table-row;
}

.chord-submit {
}

.note-checkbox {
  list-style: none;
  border: 1px solid black;
  padding: 1px;
}

.note-container {
  list-style: none;
  display: inline-block;
}

.note-cell {
  list-style: none;
  border: 1px solid black;
}
